
@{
    ViewBag.Title = "_LayoutSignature";
}

@*<p class="pull-right "><img src="~/Images/A9.jpg" style="width:500px; height:360px;" /> </p>*@

<div class="row">
    <div class="col-md-1 pull-right">
        @*<p id="apple"><span class=" glyphicon glyphicon-apple">Apple</span></p>
    </div>
</div>*@
<p class="pull-right " ><img src="~/Images/A9Software.jpg" style="margin-left:40px;width:400px; height:260px; background:transparent;" /> </p>
        </div>
</div>


<style>
    .glyphicon-apple{

        color:#ffffff;
        font-size:x-large;
    }
    #apple{
        font-family:'Times New Roman';
        font-size:x-large;
        color:#ffffff;
    }

</style>