<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thevirtuala9.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thevirtuala9.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thevirtuala9</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$thevirtuala9</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_A9_SoftwareEntities4" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ip1lf0pfnt.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@ip1lf0pfnt;Password=Pavan990" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="A9_Production.DB_A9_SoftwareEntities4, A9_Production" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A9_SoftwareEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB_A9_Software.csdl|res://*/DB_A9_Software.ssdl|res://*/DB_A9_Software.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ip1lf0pfnt.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@ip1lf0pfnt;Password=Pavan990"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>