<br />
<br />
<br />
<div class="jumbotron effect4 bg-success">
    
    <div class="row container">
      
        <div class="col-md-3">
            <h1> Welcome </h1>
            <h3>To The World Of Versatility</h3>
        </div>
        </div>
        <div class="row container">
        <div class="col-md-6">
            <p id="welcome_Body">Where you can do several things Just like that !</p>
            <input id="datepicker" value="10/10/2011" style="width: 100%" />
            </div>
    </div>
    <div id="example">
        <div class="demo-section k-content">

            <h4>Show e-mails from:</h4>
            <input id="datepicker" value="10/10/2011" style="width: 100%" />

            <h4 style="margin-top: 2em;">Add to archive mail from:</h4>
            <input id="monthpicker" value="November 2011" style="width: 100%" />
            </p>
        </div>
        <script>
            $(document).ready(function () {
                // create DatePicker from input HTML element
                $("#datepicker").kendoDatePicker();

                $("#monthpicker").kendoDatePicker({
                    // defines the start view
                    start: "year",

                    // defines when the calendar should return date
                    depth: "year",

                    // display month and year in the input
                    format: "MMMM yyyy"
                });
                $("#Home").css('margin-top', 100);
            });
        </script>
    </div>

    
    


            
           



   <style>
      h1{
          font-family:'Times New Roman';
          color:#ffffff;
      }

       h3{
           font-family:'Times New Roman';
           color:yellow;
           
       }
       #welcome_Body{
           font-family:Georgia, 'Times New Roman', Times, serif;
           color:#ffffff;
       }
      #video1{

          width:100%;
          border-top-right-radius:25px;
          border-bottom-left-radius:25px;
         
      }

   </style>
        
    </div>
    