<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://a9software.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>a9software.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>a9Software</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$a9Software</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_A9_SoftwareEntities3" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qnzewbmobf.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@qnzewbmobf;Password=Pavan990" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="A9_Production.DB_A9_SoftwareEntities3, A9_Production" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_A9_SoftwareEntities2" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qnzewbmobf.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@qnzewbmobf;Password=Pavan990" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=YOGENDRA\ATLURI;Initial Catalog=DB_A9_Software;Persist Security Info=True;User ID=sa;Password=pavan990;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A9_SoftwareEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB_A9_SOFTWARE.csdl|res://*/DB_A9_SOFTWARE.ssdl|res://*/DB_A9_SOFTWARE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YOGENDRA\ATLURI;initial catalog=DB_A9_Software;persist security info=True;user id=sa;password=pavan990;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DB_A9_SoftwareEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:qnzewbmobf.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@qnzewbmobf;Password=Pavan990" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=YOGENDRA\YOGENDRA;Initial Catalog=DB_A9_Software;Persist Security Info=True;User ID=sa;Password=pavan990;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A9_SoftwareEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB_A9_Software.csdl|res://*/DB_A9_Software.ssdl|res://*/DB_A9_Software.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YOGENDRA\YOGENDRA;initial catalog=DB_A9_Software;persist security info=True;user id=sa;password=pavan990;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DB_A9_SoftwareEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:qnzewbmobf.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@qnzewbmobf;Password=Pavan990" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=YOGENDRA\ATLURI;Initial Catalog=DB_A9_Software;Persist Security Info=True;User ID=sa;Password=pavan990;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A9_SoftwareEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB9_A9_Software.csdl|res://*/DB9_A9_Software.ssdl|res://*/DB9_A9_Software.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YOGENDRA\ATLURI;initial catalog=DB_A9_Software;persist security info=True;user id=sa;password=pavan990;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DB_A9_SoftwareEntitie" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:qnzewbmobf.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@qnzewbmobf;Password=Pavan990" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=YOGENDRA\ATLURI;Initial Catalog=DB_A9_Software;Persist Security Info=True;User ID=sa;Password=pavan990;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A9_SoftwareEntitie_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YOGENDRA\ATLURI;initial catalog=DB_A9_Software;persist security info=True;user id=sa;password=pavan990;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A9_SoftwareEntitie-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:qnzewbmobf.database.windows.net,1433;initial catalog=DB_A9_Software;user id=YOGENDRA@qnzewbmobf;password=Pavan990;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A9_SoftwareEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB9_A9_Software.csdl|res://*/DB9_A9_Software.ssdl|res://*/DB9_A9_Software.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:qnzewbmobf.database.windows.net,1433;initial catalog=DB_A9_Software;user id=YOGENDRA@qnzewbmobf;password=Pavan990;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A9_SoftwareEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB_A9_Software.csdl|res://*/DB_A9_Software.ssdl|res://*/DB_A9_Software.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:qnzewbmobf.database.windows.net,1433;initial catalog=DB_A9_Software;user id=YOGENDRA@qnzewbmobf;password=Pavan990;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A9_SoftwareEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB_A9_SOFTWARE.csdl|res://*/DB_A9_SOFTWARE.ssdl|res://*/DB_A9_SOFTWARE.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:qnzewbmobf.database.windows.net,1433;initial catalog=DB_A9_Software;user id=YOGENDRA@qnzewbmobf;password=Pavan990;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A9_SoftwareEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB_A9_Software.csdl|res://*/DB_A9_Software.ssdl|res://*/DB_A9_Software.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:qnzewbmobf.database.windows.net,1433;Initial Catalog=DB_A9_Software;User ID=YOGENDRA@qnzewbmobf;Password=Pavan990"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>