<br />
<br />
<br />
<div class="jumbotron effect4 bg-success">
    
    <div class="row container">
        <div class="col-md-7">
            <video id="video1" autoplay="autoplay" loop="loop" muted="muted" class="effect4">
                <source src="~/Videos/Connecting - Trends in UI, Interaction, & Experience Design.mp4" type="video/mp4" /></video>
        </div>
        <div class="col-md-3">
            <h1> Welcome </h1>
            <h3>To The World Of Versatility</h3>
        </div>
        <div class="col-md-4">
            <p id="welcome_Body">Where you can do several things Just like that !</p>
        </div>
    </div>
    

    
    


    <script>
        $(document).ready(function(){
            $("#Home").css( 'margin-top', 100);
           
})

    </script>
   <style>
      h1{
          font-family:'Times New Roman';
          color:#ffffff;
      }

       h3{
           font-family:'Times New Roman';
           color:yellow;
           
       }
       #welcome_Body{
           font-family:Georgia, 'Times New Roman', Times, serif;
           color:#ffffff;
       }
      #video1{

          width:100%;
          border-top-right-radius:25px;
          border-bottom-left-radius:25px;
         
      }

   </style>
        
    </div>
    