
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row container">
        <div class="col-md-8">
            <h2>Welcome To The Shopping Kart</h2>
        </div>
    </div>
    <style>
        h2{
            font-family:'Times New Roman';
            
            color:#ffffff;
            text-align:center;
            table-layout:auto;
        }
    </style>

</div>
