<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        
        <li><a href="@Url.Action("Index","ShoppingCart")" style="font-size:24px; font-style:normal"><span class="glyphicon glyphicon-shopping-cart"></span>Shopping</a></li>
        <li><a href="@Url.Action("About", "Home")" style="font-size:24px"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        <li><a href="@Url.Action("Contact", "Home")" style="font-size:24px"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>

    </ul>

</div>